{% extends "base.html" %}

{% block head %}
<style type="text/css">
#map {
    height: 600px;
    width: 600px;
}
</style>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBqtwC0qwVZ8WcB9NdXsSpVyQreSIMgMto&callback=initMap">
</script>
<!--
<script async defer
        src="https://maps.googleapis.com/maps/api/js?callback=initMap">
</script>
-->
<script type="text/javascript">
    var MAP = null;
    function createInfoWindow(marker){
        var content = "<span>" + marker.title + "</span>";
        var info = new google.maps.InfoWindow({
            content: content
        });
        return info;
    }

    function initMap() {
        MAP = new google.maps.Map(document.getElementById("map"), {
            center: {lat: 35.712195, lng: 139.775220},
            zoom: 10
        });

        $.post("/", function(data){
            var path = [];
            var markers = [];
            var history = data.history.reverse();
            for(var i = 0; i < history.length; i++){
                var h = history[i];
                var location = new google.maps.LatLng(h.lat, h.lng);
                var marker = new google.maps.Marker({
                    position: location,
                    title: h.name
                });

                marker.setMap(MAP);
                var info = createInfoWindow(marker);
                info.open(MAP, marker);
                path.push(location);
            }

            //draw line
            var way = new google.maps.Polyline({
                path: path,
                icons: [{
                    icon: {
                        path: google.maps.SymbolPath.FORWARD_CLOSED_ARROW
                    },
                    offset: '100%'
                }]
            });
            way.setMap(MAP);

        })
    }
</script>
{% end %}

{% block body %}
<div>
    <div id="map"></div>
</div>
{% module xsrf_form_html() %}
{% end %}
